/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    background-color: #1e1e1e; /* Dark bachground */
    color: #fff; /* White text */
    padding: 20px;
}

/* Logo and User Actions */
header .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

header .user-actions {
    float: right;
}

header .user-actions a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

/* Navigation Bar */
.navi-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
}

header .navi-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.navi-menu a:hover {
    background-color: #555;
}
